[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
fastapi = {extras = ["full"], version = "*"}
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
